language: go
go:
    - 1.13.x
git:
    depth: 1
before_script:
    - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $GOPATH/bin v1.23.1
script:
    - golangci-lint run
    - go test -v -race ./...
    - go build -o /tmp/gorona
    - go install
    - gorona
    - gorona Mozambique
    - docker build -t harik8/gorona:latest .
